@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');

:root {
  --cinnabar: #E63B2E;
  --mint-cream: #F2F7F2;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
}

.polka-dot-bg {
  background-image: radial-gradient(#212121 20%, transparent 20%);
  background-size: 10px 10px;
}

.text {
  position: absolute;
  top: 50%;
  height: 250px;
  width: 250px;
  margin-top: -175px;
  margin-left: 50px;
  padding: 0px 20px;
  border: 10px solid var(--mint-cream);
}

.separator {
  background-color: var(--cinnabar);
  height: 5px;
  margin-top: -20px;
  margin-bottom: 22px;
}
