.song {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.0em 0;
}

.song>img {
  height: 100px;
  width: 100px;
  margin-right: 1.0em;
}

.song>.info {
  display: flex;
  flex-direction: column;
}

.song>.info>h1 {
  font-size: 1.2em;
  margin: 0;
}

.song>.info>h2 {
  font-size: 1.0em;
  margin: 0;
}
