/* Track info */
.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 10px;
}

.info-name {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
}

.info-artist {
  font-size: 20px;
}

/* Artwork and Player commands*/
.img-hover {
  display: none;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 1;
  color: var(--cinnabar);
}

.artwork, .img-hover {
  border-radius: 50px;
}

.icon {
  width: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -25px;
}

.icon.pause {
  margin-left: -24px;
}
